.hero {
    background-color: var(--background-color);
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,
    url(../images/hero-bg-mob.png);
    padding: 200px 0px 200px;
    max-width: 1600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,
    url(../images/hero-bg-mobx2.png);
  }
    }

    .hero__content {
        flex-wrap: wrap;
    }

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-light-color);
    align-items: center;
    max-width: 696px;
    margin: 0 auto;
    flex-wrap: wrap;
}


.hero-btn {
font-weight: 700;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
cursor:pointer;
margin: 0 auto;
display: block;
min-width: 200px;
min-height: 50px;
border: none;
border-radius: 5px;
margin-top: 30px;
background-color: var(--accent-color);
    color: var(--main-light-color);
}


@media screen and (min-width: 768px) {
    .hero {
      padding-top: 118px;
      padding-bottom: 118px;
        background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,
        url(../images/hero-bg-tab.png);
        @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,
    url(../images/hero-bg-tabx2.png);
    }
}
.hero__title {
  max-width: 400px;
}
}

@media screen and (min-width: 1200px) {
.hero {
background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,
url(../images/hero-bg.jpg);
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,
    url(../images/hero-bgx2.png);

}
.hero__title {font-size: 44px;
line-height: 1.36;}
}
}
