html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--head-color);
}

ul {
    margin: 0;
    padding-left: 0;
}

.list {
    list-style: none;
}


.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

:hover, :focus {
    transform: 250ms;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.studio {
    background-color: var(--main-light-color);
}




.filter-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.portfolio {
    background-color: var(--main-light-color);
}


.image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
    width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    
    .container {
    width: 1200px;
    }
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .filter-section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
