

/* Прибирає сині/фіолетові посилання. */
a, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
    
}


p, h2, h3, h4, h5, h6 {
    margin: 0;
}



address {
    font-size: normal;
}

